* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;

  background-image: url(../img/WhatsApp\ Image\ 2023-02-05\ at\ 14.28.48.jpeg);
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
}

.clock {
  width: 40rem;
  height: 40rem;
  /* border: 5px solid black; */
  background: url(https://cssanimation.rocks/images/posts/clocks/ios_clock.svg)
    center;
  /* background-color: darkgray; */
  background-repeat: no-repeat;
  background-size: 80%;
  position: relative;
}
.secs {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 12rem;
  width: 0.1rem;
  background-color: rgb(40, 35, 35);
  transform: translateX(-50%);
  transform-origin: 25% 0;
}

.mins {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 9rem;
  width: 0.3rem;
  background-color: rgb(43, 26, 26);
  transform: translateX(-50%);
  transform-origin: 25% 0;
}
.hours {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 6rem;
  width: 0.6rem;
  background-color: rgb(46, 24, 22);
  transform: translateX(-50%);
  transform-origin: 25% 0;
}

.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: black;
  transform: translateX(-50%);
}
.yazi {
  margin-left: 2rem;
  font-size: 2rem;
  /* border: 2px solid red; */
  width: 25%;
  text-shadow: 1px 2px 0px rgba(236, 13, 13, 0.5),
    -7px -6px 0px rgba(0, 0, 0, 0.2);
}
